<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.samlib.client">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SandyTheme"
        tools:replace="android:icon,android:theme">
        <provider
            android:name=".database.SuggestionProvider"
            android:authorities="ru.samlib.client.database.SuggestionProvider" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SectionActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="samlib.ru"
                    android:scheme="http" />
                <data
                    android:host="budclub.ru"
                    android:scheme="http" />
                <data
                    android:host="zhurnal.lib.ru"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />

                <data
                    android:host=""
                    android:scheme="file" />
                <data android:scheme="content" />
                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\.html" />
                <data android:pathPattern=".*\\.xhtml" />
                <data android:pathPattern=".*\\.htm" />
                <data android:pathPattern=".*\\.fb2" />
                <data android:pathPattern=".*\\.fb2\\.zip" />
                <data android:pathPattern=".*\\.zip" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/fb2+xml" />
                <data android:mimeType="text/richtext" />
                <data android:mimeType="text/*" />
                <data android:mimeType="application/text" />
                <data android:mimeType="application/txt" />
                <data android:mimeType="application/txt+zip" />
                <data android:mimeType="application/txt.zip" />
                <data android:mimeType="text/html" />
                <data android:mimeType="application/html" />
                <data android:mimeType="application/html+zip" />
                <data android:mimeType="application/html.zip" />
                <data android:mimeType="text/fb2+xml" />
                <data android:mimeType="application/x-fb2" />
                <data android:mimeType="application/fb2" />
                <data android:mimeType="application/fb2.zip" />
                <data android:mimeType="application/fb2+zip" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-fictionbook" />
                <data android:mimeType="application/x-fictionbook+xml" />
                <data android:mimeType="application/x-fictionbook+zip" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name="ru.samlib.client.service.TTSService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.evernote.android.job.gcm.PlatformGcmService"
            tools:node="remove" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activity.MainActivity" />

        <receiver android:name=".receiver.TTSNotificationBroadcast">
            <intent-filter>
                <action android:name="ru.samlib.client.delete" />
                <action android:name="ru.samlib.client.pause" />
                <action android:name="ru.samlib.client.next" />
                <action android:name="ru.samlib.client.play" />
                <action android:name="ru.samlib.client.stop" />
                <action android:name="ru.samlib.client.position" />
                <action android:name="ru.samlib.client.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
