<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
    package="ru.samlib.client" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        tools:replace="android:icon,android:theme"
        android:allowBackup="true"
        android:icon="@drawable/ico"
        android:label="@string/app_name"
        android:theme="@style/SandyTheme"
        android:name=".App">
        <provider android:name=".database.SuggestionProvider"
                  android:authorities="ru.samlib.client.database.SuggestionProvider"/>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".activity.SectionActivity"
                android:launchMode="singleTask"
                android:parentActivityName=".activity.MainActivity"
                android:windowSoftInputMode="adjustPan"
                android:configChanges="orientation">
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="samlib.ru"/>
                <data android:scheme="http" android:host="budclub.ru"/>
                <data android:scheme="http" android:host="zhurnal.lib.ru"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="" android:scheme="file"/>
                <data android:pathPattern=".*\\.txt"/>
                <data android:pathPattern=".*\\.html"/>
                <data android:pathPattern=".*\\.xhtml"/>
                <data android:pathPattern=".*\\.htm"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="" android:scheme="file"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="text/html"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="text/html"/>
            </intent-filter>
        </activity>

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>

        <service
            android:name="ru.samlib.client.service.TTSService"
            android:exported="true"
            android:enabled="true"/>

        <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>

        <receiver android:name=".receiver.TTSNotificationBroadcast">
            <intent-filter>
                <action android:name="ru.samlib.client.delete"/>
                <action android:name="ru.samlib.client.pause"/>
                <action android:name="ru.samlib.client.next"/>
                <action android:name="ru.samlib.client.play"/>
                <action android:name="ru.samlib.client.stop"/>
                <action android:name="ru.samlib.client.position"/>
                <action android:name="ru.samlib.client.previous"/>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
